@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
.product_card {
  margin: 2%;

  background-color: #cce4f0;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.3s;
}

.product_card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.title {
  font-weight: 900;
  font-size: 3vw;
}

.product_img {
  border-radius: 10px 10px 0 0;
  width: 30vw;
}
.details {
  padding: 5px 10px;
}
.name {
  font-weight: 200;

  font-size: 30px;
  color: rgb(0, 0, 67);
}

.shop {
  font-size: 20px;
  padding: 5px 0;
  color: rgb(0, 0, 67);
}
.price {
  font-weight: 900;
  padding: 5px 0;
  color: rgb(0, 0, 67);
}
a {
  text-decoration: none;
}
p:hover {
  color: #cce4f0;
}
P {
  color: aliceblue;
}
